body{   
    background: white;  
}  
#frm{  
    border: solid gray 1px;  
    width:25%;  
    border-radius: 2px;  
    margin: 120px auto;  
    background: black;  
    padding: 50px;  
}  
#btn{  
    color: #fff;  
    background: #337ab7;  
    padding: 7px;  
    margin-left: 70%;  
}  

#btn2{  
    color: #fff;  
    background: #337ab7;  
    padding: 7px;  
    
}  

p label{
    color: white;
}

h1{
    color: white;
}